.identity{
  display: flex;
  flex-direction: column;
  height: 35%;
  padding: 0;
  margin: 0;
  .image{
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;

    img{
      border-radius: 50%;
      height: 100%;
      width: auto;
      justify-self: center;
      align-self: center;
  }
  }
    .name, .locality,.job{
     height: 0.9em;
     text-align: center;
    }
    .name{
      margin: 10px 0;
      font-size: 1.2rem;
    }
    .locality{
      font-size: 0.7rem;
      color: rgb(105, 246, 63);
      margin-top: 5px;
      font-size: 0.8rem;
    }
    .job{
      margin: 20px 0;
      font-size: 0.8rem;
      font-weight: 200;
    }
  

}