.identity{
  display: flex;
  flex-direction: column;
  height: 35%;
  padding: 0;
  margin: 0;
  .image{
    display: flex;
    min-height: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img{
      border-radius: 50%;
      width: 50%;
      align-self: center;
  }
  }
    h1, h3, h5{
     height: 0.9em;
     text-align: center;
    }
    h1{
      margin: 1rem 0;
      font-size: 1.5rem;
    }
    h3{
      font-size: 0.7rem;
      color: $green;
      font-weight: 300;
      font-size: 0.8rem;
    }
    h5{
      margin: 2.5rem 0 0.9rem;
      font-weight: 200;
    }
  

}